In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv(r"C:\Users\dell\Desktop\rupesh\Data Science Courses\Ashish Pandey Classes\datasets\datasets\insurance.csv")

In [3]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [4]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder,StandardScaler,MinMaxScaler
from sklearn.compose import ColumnTransformer

In [5]:
en=LabelEncoder()
df["sex"]=en.fit_transform(df['sex'])

In [6]:
df.head()

   age  sex     bmi  children smoker     region      charges
0   19    0  27.900         0    yes  southwest  16884.92400
1   18    1  33.770         1     no  southeast   1725.55230
2   28    1  33.000         3     no  southeast   4449.46200
3   33    1  22.705         0     no  northwest  21984.47061
4   32    1  28.880         0     no  northwest   3866.85520

In [7]:
sc=StandardScaler()

In [8]:
df["age"]=sc.fit_transform(df[['age']])

In [9]:
df.head()

        age  sex     bmi  children smoker     region      charges
0 -1.438764    0  27.900         0    yes  southwest  16884.92400
1 -1.509965    1  33.770         1     no  southeast   1725.55230
2 -0.797954    1  33.000         3     no  southeast   4449.46200
3 -0.441948    1  22.705         0     no  northwest  21984.47061
4 -0.513149    1  28.880         0     no  northwest   3866.85520

In [10]:
df['age'].mean()

-1.853690760099103e-16

In [11]:
df['age'].std()

1.00037390167693

In [12]:
sca=MinMaxScaler()

In [13]:
df['age']=sca.fit_transform(df[['age']])

In [14]:
df.head()

        age  sex     bmi  children smoker     region      charges
0  0.021739    0  27.900         0    yes  southwest  16884.92400
1  0.000000    1  33.770         1     no  southeast   1725.55230
2  0.217391    1  33.000         3     no  southeast   4449.46200
3  0.326087    1  22.705         0     no  northwest  21984.47061
4  0.304348    1  28.880         0     no  northwest   3866.85520

In [15]:
df['age'].describe()

count    1338.000000
mean        0.461022
std         0.305434
min         0.000000
25%         0.195652
50%         0.456522
75%         0.717391
max         1.000000
Name: age, dtype: float64

In [16]:
df.head()

        age  sex     bmi  children smoker     region      charges
0  0.021739    0  27.900         0    yes  southwest  16884.92400
1  0.000000    1  33.770         1     no  southeast   1725.55230
2  0.217391    1  33.000         3     no  southeast   4449.46200
3  0.326087    1  22.705         0     no  northwest  21984.47061
4  0.304348    1  28.880         0     no  northwest   3866.85520

In [17]:
transform=ColumnTransformer([("sccc",StandardScaler(),[0,2,6]),("ennn",OneHotEncoder(),[1,4,5])],remainder='passthrough')

In [18]:
data=transform.fit_transform(df)

In [19]:
type(data)

numpy.ndarray

In [20]:
data=pd.DataFrame(data)

In [21]:
data.head()

          0         1         2    3    4    5    6    7    8    9   10   11
0 -1.438764 -0.453320  0.298584  1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0
1 -1.509965  0.509621 -0.953689  0.0  1.0  1.0  0.0  0.0  0.0  1.0  0.0  1.0
2 -0.797954  0.383307 -0.728675  0.0  1.0  1.0  0.0  0.0  0.0  1.0  0.0  3.0
3 -0.441948 -1.305531  0.719843  0.0  1.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0
4 -0.513149 -0.292556 -0.776802  0.0  1.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0